<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Moonzer Student</string>
	<key>NSCameraUsageDescription</key>
	<string>Kamera dipakai untuk Scan QR Code ujian.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Foto hanya dipakai jika halaman SIMS meminta unggahan.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lokasi dipakai untuk fitur presensi jika diizinkan sekolah.</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
